.Rating {
	border-radius: 1rem;
	background: var(--light-bg);
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-wrap: nowrap;
}

.star {
	color: var(--text);
	background: transparent;
	border: none;
	cursor: pointer;
	color: var(--bg);
}

.star.active {
	color: var(--warning);
}
