.IconRadio {
	display: flex;
	background: var(--background, var(--bg));
	border-radius: 1rem;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
}

.IconRadio label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 1rem 0.5rem;
	cursor: pointer;
	border-radius: 1rem;
	gap: 0.25rem;
	min-width: 5.5rem;
	flex-shrink: 0;
	font-weight: bold;
}

.IconRadio label.active {
	color: var(--primary-text);
	background: var(--primary);
}

.IconRadio input {
	display: none;
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
